body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.todo-header input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.todo-header button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.todo-header button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  overflow-y: auto;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

li span {
  flex: 1;
  cursor: pointer;
}

li .button-group {
  display: flex;
  flex-shrink: 0;
}

li button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

li button:hover {
    background-color: #218838;
}

li .delete-button {
  background-color: #dc3545;
}

li .delete-button:hover {
  background-color: #c82333;
}

li .edit-button {
  background-color: #ffc107;
  color: black;
}

li .edit-button:hover {
  background-color: #e0a800;
}

li .save-button {
  background-color: #007bff;
}

li .save-button:hover {
  background-color: #0056b3;
}

li input {
  flex: 1;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
